---
// import { SITE } from 'astrowind:config';
import logoDark from '~/assets/logo/balizen-logo_dark.png';
// import logoLight from '~/assets/logo/balizen-logo_light.png';

---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>

  <img 
    src={logoDark.src} 
    alt="Balizen Logo" 
    class="w-20 h-20  opacity-90 transition-opacity duration-300 hover:opacity-100" 
  />
</span>
